.headerId {
  padding: 30px 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Nav {
      display: flex;
      gap: 30px;

      .navLink {
        font-size: 18px;
        font-weight: 500;
        transition: color 0.3s ease;
        color: #ffffff6e;

        &:hover {
          color: #ffffff;
        }
      }

      .active {
        color: #ffffff;
        font-weight: 600;
      }
    }

    &Action {
      button {
        position: relative;
        padding: 10px 32px;
        border-radius: 8px;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease;
      }

      button::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1.5px;
        border-radius: inherit;
        background: linear-gradient(
          270deg,
          rgba(229, 10, 167, 0.16) 0%,
          rgba(255, 23, 189, 1) 100%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
      }

      button:hover {
        background: rgba(255, 23, 189, 0.1);
      }
    }
  }
}

