.footerId {
  padding: 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #ffffff;
    }
  }

  .footerNav {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .navLink {
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    color: #ffffff6e;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .active {
    color: #fff;
    font-weight: 600;
  }
}
